<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ webserver_index_content }}</title>
</head>
<body>
    <h1>{{ webserver_index_content }}</h1>
    <p>Served by {{ ansible_hostname }} ({{ webserver_package }})</p>
</body>
</html>
